<div id="portrait" :style="{
    'grid-template-columns': `repeat(${lines[0].length}, 1fr)`,
    'grid-template-rows': `repeat(${lines.length}, 1fr)`
}">
    <template class="line" v-for="(line, y) in lines">
        <span v-for="(char, x) in line">
            {{charForPos(x, y, char)}}
        </span>
    </template>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>


<script>
// 8.41 x 16.36
$grid = new Vue({
    el: '#portrait',
    data: {
        lines: [],
        width: innerWidth,
        height: innerHeight,
        trail: [],
        ball: {
            vx: 1,
            vy: 1,
            x: 0,
            y: 0
        }
    },

    mounted() {
        this.updateLines()

        /**
         * Update, basically
         */
        setInterval(() => {
            this.ball.x += this.ball.vx
            this.ball.y += this.ball.vy
            this.trail.push({x: this.ball.x - this.ball.vx * 4, y: this.ball.y - this.ball.vy * 4})
            this.trail = this.trail.slice(-10)

            if (this.ball.y > this.lines.length || this.ball.y < 0) this.ball.vy *= -1
            if (this.ball.x > this.lines[0].length || this.ball.x < 0) this.ball.vx *= -1
        }, 100)
    },

    methods: {
        updateLines() {
            this.lines = []
            for (let y = 0; y < this.height / 9; y++) {
                let l = []
                for (let x = 0; x < this.width / 8.5; x++) {
                    l.push('#')
                }
                this.lines.push(l)
            }
        },

        /**
         * Draw, basically
         */
        charForPos(x, y, char) {
            let d = p5.prototype.dist(x, y, this.ball.x, this.ball.y)

            // trail
            for (const t of this.trail) {
                if (t.x == x && t.y == y) return _.sample(['@', '!', '1', 'f', '<'])
            }

            if (d < 3) {
                if (random() > .98) return random(["\""])
                return "'"
            }
            if (d < 5) {
                if (random() > .95) return random([",", "`"])
                return "."
            }
            if (d < 7) return "-"


            return char
        }
    },

})

function setup() {

}

function draw() {

}



addEventListener('mousemove', e => {
    $grid.mouseX = e.clientX
    $grid.mouseY = e.clientY
})

addEventListener('resize', () => {
    $grid.width = innerWidth
    $grid.height = innerHeight
    $grid.updateLines()
})
</script>


<style>
    body {
        cursor: none;
        margin: 0;
        overflow: hidden;
    }
    #portrait {
        font-family: monospace;
        line-height: .65;
        font-size: 14px;
        display: grid;
    }
</style>